<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="retail.Commercial"/>
      <class name="retail.buy"/>
      <class name="retail.contact"/>
      <class name="retail.Sell"/>
      <class name="retail.Quick"/>
      <class name="retail.Propbuyresale"/>
      <class name="retail.Propsell"/>
      <class name="retail.Blog"/>
      <class name="retail.Newproj"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
